 .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;   
} 
  .nav-links{
    display: flex;
    gap: 1rem;
    
}  
li{
    list-style-type: none;
}
h1{
  text-align: center; 
  font-weight: bold;
  font-size: 30px;
  
}
.product-section{
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 20px;
}
.product-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 20px;
}
.top-grid-section{
  grid-column: 1 / 5;
  padding: 20px;
}
